/* Dropdown.css */
.dropdown {
  /* position: relative;
  display: inline-block; */
}

.dropdown-toggle {
  padding: 10px 16px 10px 16px;
  display: flex;
  gap: 10px;
  border: 1px solid;
  border-color: #ffff;
  font-family: __Noto_Serif_cc0b7e;
  font-weight: 700 !important;
  font-size: 12px;
  line-height: 16.34px;
  text-align: left;
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 160px;
  background-color: #182c4521;
}

.dropdown-menu {
  /* display: block; */
  position: absolute;
  min-width: 171px;
  z-index: 1;
  border: 1px solid;
  border-color: #ffff;
  /* background-color: #182c4521; */
  border-radius: 0px 0px 20px 20px;
}

.dropdown-item {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: __Noto_Serif_cc0b7e;
  font-weight: 700 !important;
}

/* Mobile adjustments */
@media (min-width: 320px) and (max-width: 767px) {
  .dropdown {
    margin-top: 25px;
  }
  .dropdown-toggle {
    /* padding: 6px 12px; */
    font-size: 10px;
    line-height: 14px;
    min-width: 140px;
    gap: 8px;
  }
  .dropdown-menu {
    position: absolute;
    min-width: 161.5px;
    z-index: 1;
    border: 1px solid;
    border-color: #ffff;
    border-radius: 0px 0px 20px 20px;
  }
}
