.representative-card {
  /* max-width: 1060px; */
  top: 2023px;
  left: 105px;
  gap: 0px;
  border-radius: 20px 0px 20px 0px;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 26.41%,
    rgba(255, 255, 255, 0.8) 100%
  );

  border-image-source: linear-gradient(
    90deg,
    rgba(102, 102, 102, 0) 0%,
    #ffffff 100%
  );

  margin: auto;
  /* margin-top: 632px; */
  margin-left: 50px auto;
  margin-right: 50px auto;

  padding: 50px 70px 38px 40px;

  display: flex;
  justify-content: space-between;

  box-shadow: 0px 4px 6.5px 0px #09111b33;
  box-shadow: 0px 4px 4px 0px #182c4533;
}

.subtitle-phoenix-r {
  font-size: 2rem;
  text-align: left;
}

.representative-title {
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .representative-card {
    width: 90%;
    height: unset;
    margin-top: 0;
    flex-direction: column;
    padding: 30px 25px;
    overflow: hidden;
  }

  .subtitle-phoenix-r {
    padding-right: 50px;
  }

  .representative-title {
    font-size: 1.8rem; /* Slightly reduced font size for mobile screens to prevent wrapping */
  }
}
