.shadow-text {
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000,
        0px 5px 5px rgba(0, 0, 0, 0.5);
}

.shadow-text2 {
    text-shadow:
        -.2px -.2px 0 #000000,
        .2px -.2px 0 #000000,
        -.2px .2px 0 #000000,
        .2px .2px 0 #000000,
        0px 0px 0px rgba(0, 0, 0, 0.5);
}

.yellow-button {
    background: linear-gradient(to bottom, #ff7e5f, #feb47b, #86a8e7);
    background: linear-gradient(180deg, #F2E63D, #F2AE30, #e7a50c);

}

.quick-card {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    border-top-style: none;
    border-right-style: none;
    border-color: #efefef;
    border-width: 1px;
}