.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 140px;
  width: 126px;
}

.phoenixLogo {
  height: 140px;
  width: 115px;
}

.profileCard {
  border-radius: 80px 0px 0px 0px;
  background: radial-gradient(
        93.63% 549.7% at 2.46% 8.98%,
        rgba(196, 216, 234, 0.54) 10%,
        rgba(255, 255, 255, 0.9) 90%
      )
      padding-box,
    /*this is your grey background*/
      linear-gradient(to right, #ffffff, #66666600) border-box;

  border: 1px solid transparent;
  box-shadow: 0px 4px 6.5px 0px #09111b33;
  box-shadow: 0px 4px 4px 0px #182c4533;

  margin: auto;

  padding: 64px 56px 64px 56px;
  /* display: flex; */
}

.modal {
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex;
}

.card {
  gap: 0px;
  width: 800px;
  margin: auto;

  background: radial-gradient(
        93.63% 549.7% at 2.46% 8.98%,
        rgba(24, 44, 69, 0.95) 0%,
        rgba(24, 44, 69, 0.855) 100%
      )
      padding-box,
    /*this is your grey background*/
      linear-gradient(to right, #ffffff, rgba(24, 44, 69, 0.855)) border-box;

  border: 1px solid transparent;
  border-radius: 80px 0px 0px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0px 4px 6.5px 0px #09111b33;

  box-shadow: 0px 4px 4px 0px #182c4533;
}

.input {
  /* width: 400px; */
  gap: 0px;

  margin: auto;

  background: radial-gradient(
        93.63% 549.7% at 2.46% 8.98%,
        rgba(98, 118, 135, 0.95) 0%,
        rgba(98, 118, 135, 0.665) 100%
      )
      padding-box,
    /*this is your grey background*/
      linear-gradient(to right, #ffffff, rgba(196, 216, 234, 0.35) 100%)
      border-box;

  /* padding: 70px; */
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 16px 8px;

  /* margin-top: 200px; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 6.5px 0px #09111b33;

  box-shadow: 0px 4px 4px 0px #182c4533;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
