.gridItem-container {
    background: #31315A4D;
    backdrop-filter: blur(20px);
}

.gridItem {
    border-top: 1px solid;
    border-color: #FFFFFF26;
}

.column_code {
    width: 100px;
}

.column_address {
    flex-grow: 1;
}

.column_rank {
    width: 100px;
}