.voucher-image-right {
  display: flex;
  flex-grow: 1;
  height: 500px;
  min-width: 300px;
  background-image: url("../../../public/pages/buy/voucher-bg.png");
}

.phoenix-image-token-wrapper img {
  border-radius: 100px;
  border: 1px solid rgba(169, 193, 239, 1)
}

.voucher-phoenix-image {
  width: 220%;
  height: 147%;

  position: absolute;
  background-image: url("../../../public/pages/buy/voucher-front.png");
  background-size: cover;
  background-position: center;

  right: 1px;
  bottom: -135px;
  @media (max-width: 880px) {
    right: -152px;
    top: 0px;
  }
}
