.voucher-image-right {
  display: flex;
  background-image: url("../../public/images/voucher-image.png");
  width: 300px;
  height: 443px;
  margin-bottom: 18px;
  border: 1.5px solid;
  border-radius: 13px;
  margin-top: 90px;
}

.voucher-phoenix-image {
  width: 149%;
  height: 147%;

  position: absolute;
  background-image: url("../../public/images/phoenix-image-voucher.png");
  background-size: cover;
  background-position: center;

  right: 1px;
  bottom: -135px;
}
