.voucher-image-right {
  display: flex;
  background-image: url("../../public/images/voucher-image.png");
  /* width: 30%; */
    flex-grow: 1;
    height: 500px;
    min-width: 300px;
}

.voucher-phoenix-image {
  width: 149%;
  height: 147%;

  position: absolute;
  background-image: url("../../public/images/phoenix-image-voucher.png");
  background-size: cover;
  background-position: center;

  right: 1px;
  bottom: -135px;
}
