.voucher-image-right {
  display: flex;
  background-image: url("../../public/images/voucher-image.png");
  /* width: 30%; */
    flex-grow: 1;
    height: 500px;
    min-width: 300px;
}
.phoenix-imgae-token-wrapper img{
border-radius: 100px;
border: 1px solid rgba(169, 193, 239, 1)
}
.voucher-phoenix-image {
  width: 220%;
  height: 147%;

  position: absolute;
  background-image: url("../../public/images/phoenix-image-voucher.png");
  background-size: cover;
  background-position: center;

  right: 1px;
  bottom: -135px;
  @media (max-width: 880px) {
    right: -152px;
    top: 0px;
  }
}
