.main-air-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(61, 105, 255, 1);
  background-image: url("/home/air_svg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  padding: 30px 100px;
}
.font-main-smaller {
  font-family: "DIN Condensed", sans-serif;
  font-size: 97.12px;
  font-weight: 700;
  line-height: 89.03px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(245, 248, 252, 1);
}
.font-main-bigger {
  font-family: "DIN Condensed", sans-serif;
  font-size: 150px;
  font-weight: 700;
  /* line-height: 89.03px; */
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.din {
  font-family: "DIN Condensed", sans-serif;
  font-weight: 700;

  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.freedom-text {
  background: linear-gradient(0deg, #f5f8fc, #f5f8fc),
    radial-gradient(
      61.07% 587.52% at 101.07% 100%,
      rgba(242, 230, 61, 0.3) 0%,
      rgba(242, 230, 61, 0) 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.button-front-yellow {
  background: rgba(242, 230, 61, 1);
}
.main-text-button-front {
  color: rgba(24, 72, 99, 1);
}
.right-text-button-front {
  color: rgba(24, 72, 99, 1);
  opacity: 20%;
}
.start-project-box {
  backdrop-filter: blur(55.3px); /* Rounded the value for simplicity */
  background: rgba(255, 255, 255, 0.15);
}
.box-letter {
  font-size: 130px;
  font-weight: 700;
  line-height: 89.03px;
  letter-spacing: -0.04em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.orange-project-box {
  background: linear-gradient(180deg, #ff5e3b 0%, #ff876d 100%);
}
.font-title {
  font-family: "DIN Condensed", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.font-description {
  font-family: "Aeroport", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(216, 227, 244, 1);
}
.font-title-orange {
  font-family: "DIN Condensed", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.font-description-orange {
  font-family: "Aeroport", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(255, 255, 255, 1);
}
