.table-gradient-container {
  background: radial-gradient(
    60.58% 180.59% at 8.46% 8.98%,
    rgba(196, 216, 234, 0.54) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  border-top-left-radius: 80px;
  padding: 3rem;

  box-shadow: 0px 4px 6.5px 0px #09111b33;
  box-shadow: 0px 4px 4px 0px #182c4533;
  border-right-style: none;
  border-color: #efefef;
  border-width: 1px;
}

.pagination-gradient-container {
  background: radial-gradient(
    60.58% 180.59% at 8.46% 8.98%,
    rgba(196, 216, 234, 0.54) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
  border-radius: 36px;

  box-shadow: 0px 4px 6.5px 0px #09111b33;
  box-shadow: 0px 4px 4px 0px #182c4533;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  border-color: #efefef;
  border-width: 1px;
}

.xpButtonContainer {
  display: inline-block;
  padding: 4px;
  gap: 10px;
  border-radius: 100px;

  background: linear-gradient(
    180deg,
    rgba(242, 230, 61, 0.3) 0%,
    rgba(242, 174, 48, 0.3) 52.5%,
    rgba(231, 73, 12, 0.3) 100%
  );
  margin-top: -22px;
}

.xpButton {
  padding: 6px 16px 6px 16px;
  gap: 0px;
  border-radius: 100px;

  border: 1px transparent;

  background: linear-gradient(
    180deg,
    #f2e63d 0%,
    #f2ae30 69.27%,
    #e7490c 131.94%
  );

  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.xpButtonText {
  font-family: Noto Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: left;
  background: -webkit-linear-gradient(
    270deg,
    #000000 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
