/* YELLOW GRADIENT BUTTON */
.btn-yellow-grad-container {
  display: inline-block;
  padding: 4px;
  gap: 10px;
  border-radius: 100px;

  background: linear-gradient(
    180deg,
    rgba(242, 230, 61, 0.3) 0%,
    rgba(242, 174, 48, 0.3) 52.5%,
    rgba(231, 73, 12, 0.3) 100%
  );
  margin-top: -22px;
}

.btn-yellow-grad {
  padding: 6px 16px 6px 16px;
  
  gap: 0px;
  border-radius: 100px;

  border: 1px transparent;

  background: linear-gradient(180deg, #f2e63d 0%, #f2ae30 69.27%, #e7490c 131.94%);

  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.btn-yellow-grad-text {
  font-family: Noto Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: left;
  background: -webkit-linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

/* RED GRADEINT BUTTON */
.btn-red-grad-container {
  display: inline-block;
  margin-left: 5px;
  padding: 4px;
  gap: 10px;
  border-radius: 5px;

  background: linear-gradient(180deg, #ebaba69d 0%, #c1334186 100%);
  margin-top: -22px;
}

.btn-red-grad {
/*   
  padding: 6px 16px 6px 16px;
  gap: 0px;
  border-radius: 100px;

  border: 1px transparent;

  background: linear-gradient(180deg, #ebaba6 0%, #c13342 131.94%);

  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.btn-red-grad-text {
  font-family: Noto Serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: left;
  background: -webkit-linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

/* GREEN GRADEINT BUTTON */
.btn-green-grad-container {
  margin-left: 5px;
  display: inline-block;
  padding: 4px;

  border-radius: 5px;
  background: linear-gradient(180deg, #bfe3aa85 0%, #2ea23a8f 100%);
}

.btn-green-grad {

  /* padding: 6px 16px 6px 16px;
  gap: 0px;
  border-radius: 100px;

  border: 1px transparent;

  background: linear-gradient(180deg, #bfe3aa 0%, #2ea239 131.94%);

  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.btn-green-grad-text {
  font-family: Noto Serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.34px;
  text-align: left;
  background: -webkit-linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
